# VineBlock BlockState methods to allow overloading in WitheredVineBlock
public net.minecraft.world.level.block.VineBlock canSupportAtFace(Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;Lnet/minecraft/core/Direction;)Z # canSupportAtFace
public net.minecraft.world.level.block.VineBlock getUpdatedState(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/level/block/state/BlockState; # getUpdatedState

# DamageSource enable to get custom damage sources through registry keys
public net.minecraft.world.damagesource.DamageSources source(Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/world/damagesource/DamageSource; # source

# StructureTemplatePool enable to modify village structure pools
public net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool templates # templates
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool rawTemplates # rawTemplates