public net.minecraft.world.level.storage.loot.entries.LootTableReference f_79754_ # name

# VineBlock BlockState methods to allow overloading in WitheredVineBlock
public net.minecraft.world.level.block.VineBlock m_57887_(Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;Lnet/minecraft/core/Direction;)Z # canSupportAtFace
public net.minecraft.world.level.block.VineBlock m_57901_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/level/block/state/BlockState; # getUpdatedState

# DamageSource enable to get custom damage sources through registry keys
public net.minecraft.world.damagesource.DamageSources m_269079_(Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/world/damagesource/DamageSource; # source